@import "tailwindcss";

@theme {
    /* colors */
    --color-primary: #6A4CE2;
    --color-secondary: #023047;

    /* text */
    --text-icons: clamp(2.5rem, 7vw, 6rem);
    --text-main-heading: clamp(1.75rem, 7vw, 4.5rem);
    --text-bigger: clamp(1.5rem, 5vw, 3rem);
    --text-big: clamp(1.25rem, 4vw, 2.5rem);
    --text-normal: clamp(1rem, 1.2vw, 1.25rem);
    --text-small: clamp(0.875rem, 1vw, 1rem);
    --text-smaller: clamp(0.75rem, 1vw, 0.9rem);
    --text-smallest: clamp(0.55rem, 1vw, 0.8rem);
}

@layer base {
    * {
        @apply p-0 m-0 box-border scroll-smooth
    }

    html {
        scroll-padding-top: 72px;
    }

    body {
        font-family: 'Poppins', sans-serif;
    }

    li {
        text-decoration: none;
        list-style: none;
    }

    section {
        @apply mx-10 min-h-screen grid items-center;
    }
}

@layer components {
    .main-heading {
        @apply text-main-heading uppercase font-semibold tracking-wider leading-12;
    }

    .sub-heading {
        @apply font-semibold tracking-wider text-big
    }

    .flex-center {
        @apply flex items-center justify-center
    }

    .flex-between {
        @apply flex items-center justify-between
    }

    .flex-around {
        @apply flex items-center justify-around
    }
}